.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;


  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;


}

.ImageFullWidth {
  width: 100%;
  min-width: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;

}