.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

.ImageFullWidth {
  width: 100%;
  min-width: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;

}