
#firstBox{
    height: 150px;
    width: auto;
    background-color:#31c0f5;
}
#firstBox > p{
    color:aliceblue;
    font-weight:400;
    padding-left: 300px;
    padding-top: 30px;
    font-size: 50px;

}

#SecondBox{
    display: flex;
    /* gap: 10px; */
   
}
#SecondBox > input{
    margin-left:19%;
    margin-top:4%;
    width: 25%;
    height: 40px;
   
}
#SecondBox >input:nth-child(2){
   width:15%;
   margin-left: 14%;
   text-align:center;
}

#firstGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 6%;
    width: 40%;
 margin-left:19%;
 padding-top: 3%;
 
}
#firstGrid>div{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 3px;
    height:520px;
    width: 400px;
}

#img1{
    width: 400px;
    /* border:1px solid #31c0f5; */
    
}
#pTag{
    margin-left: 20px;
}
#pTag>p:nth-child(1){
    font-size :25px;
font-weight: 400;
line-height:37.5px;
}
#pTag>p:nth-child(2){
    /* font-size :18px;
    font-weight :300; */
    margin-top: 35px;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.7;
}

#flex2{
    display: flex;
    gap:30px;
    margin-top: 30px;
   
}
#flex24{
    display: flex;
    gap:30px;
    margin-top: auto;
}
#flex2>div>a{
    /* padding:60px 0px 0px 60px; */
    text-decoration:none;
    margin-left:60px;
    color:#31c0f5;
    height:26px;
    margin-top: auto;
    
}
#flex2>div>#webinar{
    padding-left:100px;
}
#flex2>div>button{
    width: 80px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
color :rgb(38, 38, 38);
font-size :12px;
font-style: normal;
font-weight: 400;
height:26px;
line-height:12px;
border-radius: 20px;
/* border-color: rgb(133, 129, 129); */
border:1.5px solid black;
margin-top: auto;
}
#flex2>div>p{
    margin-left:60px;
    color:#31c0f5;
    height:26px;
    margin-top: 10px;
}
#flex2>p:hover{
    color:#314ef5
}
#freeBox{
    height: 300px;
    width: auto;
    background-color:#00aeef ;
    margin-top: 130px;
}
#freeBox>p:nth-child(1){
    padding-top: 35px;
    text-align:center;
    font-size: 40px;
    font-weight:400;
    color:aliceblue;
}
#freeBox>p:nth-child(2){
    text-align:center;
    color:#fffdfd;
    font-weight: 400;
    line-height: 1.8;
    font-size :20px;
    padding-top: 10px;
}
#freeBox>button{
    border-radius: 50px;
    width:170px;
    background-color:#00aeef ;
    color:#fffdfd;
    border:2px solid white;
    height:50px;
    margin-left: 650px;
   
    font-weight :400;
}

/* @media (max-width: 800px) {
    #flex24 {
      flex-direction: auto;
    }
  } */
  /* @media all and(min-width:50px) and (max-width:380px){
    #flex24 {
        grid-template-columns:repeat(1,1fr)
      }
  }
  @media all and(min-width:381px) and (max-width:700px){
    #flex24>div {
        grid-template-columns:repeat(1,1fr)
      }
  } */

