.main-heading{
    background-color: #0dcaf0;
    padding: 5px 178px 4px;
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    font-size: 2.8rem;
   color: white;
}
.partner-nav{
    display: flex;
    justify-content: space-around;
    background-color: #0dcaf0;
    
}
.nav-sub-become{
    flex: 1;
    padding: 18px 15px 22px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8;
    white-space: nowrap;
}
.nav-sub-dir{
    flex: 1;
    background: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;
    color: black;
    padding: 18px 15px 22px;
}
.nav-sub-login{
    flex: 1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;
    padding: 18px 15px 22px;
}
.mid-heading{
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    line-height: 1.0;
    margin: 20px 0px;
    font-size: 2.0rem;
    font-weight: 500;
}
.mid-p{
    line-height: 30.8px;
    font-size: 15px;
    padding: 0px 156px;
    font-weight: lighter;
    }
.mid-btn{
    display: inline-block;
    position: relative;
    padding: 0.9rem 1.75rem;
    border: none;
    border-radius: 30px;
    font-size: .879rem;
    font-weight: bold;
    font-style: inherit;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    background-color: #0dcaf0;
}
.mid-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 102px;
    padding: 25px 146px 0px;
    
}
.mid-box-title{
    color: #000;
    font-size: 25px;
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

}
.mid-box-gold{
    margin: 0px 89px 5px 8px;
    display: flex;
    justify-content: flex-start;
    overflow-wrap: break-word;
}
.mid-gold-title{
    border-radius: 2px;
   
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 12px 16px 12px;
    margin: auto;
    text-transform: uppercase;
    background-color: #fae063;
}
    .mid-gold-p{
        max-width: 420px;
        white-space: nowrap;
        overflow: hidden;
        color: #000;
    font-size: 12px;
    text-transform: uppercase;
    float: right;
   padding: 17px 1px 20px 54px;
    }
    .mid-box-p{
       padding:10px 10px ;
       color:#6a828c;
       /* margin-bottom: 20px; */
    }
    .mid-box-div{
        border: 1px solid  #e5ecef;
        padding: 10px 5px
    }
    .mid-box-title:hover{
    color: #0dcaf0;
    cursor: pointer;
    text-decoration: underline;
    }
    .mid-img{
        display: flex;
        justify-content: flex-end;
      
    }
    .mid-in-img{
        height:50px;
        width:50px;
    }
    .show-btn{

    padding: 0.9rem 1.75rem;
    border: none;
    border-radius: 30px;
    font-size: .579rem;
    font-weight: bold;
    font-style: inherit;
    line-height: 1.5;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #0dcaf0;
    float: right;
    }